@font-face {
  font-family: 'Copperplate Gothic';
  src: url(./../font.woff);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  font-family: 'Copperplate Gothic', sans-serif;
  background-size: cover;
  background-color: rgb(221, 124, 124);
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 3%;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 18vh;
  margin-bottom: 1%;
}

div > div > div {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding-top: 1%;
}

h2 {
  font-size: 1.5em;
}

h1, h2 {
  text-align: center;
  color: rgb(126, 26, 26);
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 5%;
}

th, td {
  border: 1px solid #555;
  padding: 8px;
  text-align: center;
}

th {
  background-color: white;
  color: #333;
}

tr {
  background-color: #c4b63c;
}

th:hover {
  background-color: #f0e47d;
}

thead > tr :nth-child(2)::before,
thead > tr :nth-child(3)::before,
thead > tr :nth-child(4)::before,
thead > tr :nth-child(5)::before {
  font-size: 1.2em;
  content: '♪ ';
}

.curtain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 124, 124, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

input, button {
  height: 5vh;  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input {
  width: 30vw;
}

button {
  margin-left: 3%;
  width: 7vw;
}

button:hover {
  background-color: #f0e47d;
  cursor: pointer;
}

span {
  font-size: 30vh;
  color: rgb(12, 12, 12, 0.8);
  animation: palpitar 1s infinite;
}

@keyframes palpitar {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
